<!DOCTYPE html>
<html>
  <head>
    <title>Boxpage</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li>
            <%= link_to "#", :class => 'navbar-link' do %>
              <i class="fa fa-th-large fa-3" style="font-size:20px;color:#000;"></i>
            <% end %>
          </li>
          <li>
            <%= link_to '#', class: "navbar-avatar", "data-toggle" => "popover", "data-placement" => "bottom", "data-content" => "#{render 'shared/popover_profile'}" do %>
              <%= image_tag("https://lh5.googleusercontent.com/-PfncbBm91-A/AAAAAAAAAAI/AAAAAAAAAAA/iiQJuN_7LJw/photo.jpg", class: "img-circle") %>
            <% end %>
          </li>
        <% else %>
          <li><%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Login", new_user_session_path, :class => 'navbar-link' %></li>
        <% end %>
      </ul>
    </div>

    <%= yield %>

    <script type="text/javascript">
      $(function () {
        $('.grid-stack').gridstack({
          width: 12,
          always_show_resize_handle: /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)
        });
      });
    </script>
  </body>
</html>
